body { 
	background-color: white/* #32c3ff */; 
	padding: 0; 
	margin: 0;
	font-family: "Arial";
}

.ombre { 
	width: 100%; 
	/* background-color:  #32c3ff;  */
	position: relative; 
	padding: 0; 
	margin-top: 0;
	margin-bottom: 0;
}
	
#gradient {
	height: 100vh;
	overflow: hidden;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #003;
  color: #fff;
}
h1 {
	color: #fff;
  text-align: center;
}
li {
	font-size: 150%;
}
a:link, a:visited, a:active, a:hover {
  color: #000;
}
.jumbotron {
	color: #ccc;
	background: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
}
.jumbotron > small {
	color: #fff;
}
small {
	color: #ccc;
}
#form textarea {
	font-size: 200%;
}
.searchButton {
	margin-left: auto;
	margin-right: auto;
	
}
#HERE {
	height: 30px;
}
.result {
	width: 100%;
	background-color: #fff;
	border-radius:5px;
	color: #ccc;
}
.circle1 {
	background: #fff;
	display:block;
	margin-left: 20px;
	width:30px;
	height:30px;
	border-radius:15px;
}
.circle2 {
	background: #fff;
	display:block;
	margin-left: 15px;
	width:20px;
	height:20px;
	border-radius:10px;
}
