
body { 
	background-color: #32c3ff; 
	padding: 0; 
	margin: 0;
	font-family: "Arial";
	}



div { 
	width: 100%; 
	height: 2px; 
	background-color: white; 
	position: relative; 
	padding: 0; 
	margin-top: 0;
	margin-bottom: 0;
	}

.ombre:first-child {opacity: 0; position: absolute; }
.ombre:nth-child(2-6) {opacity:0; }
.ombre:nth-child(7) {opacity:0.007; }
.ombre:nth-child(8) {opacity:0.012; }
.ombre:nth-child(9) {opacity:0.016; }
.ombre:nth-child(10) {opacity:0.02; }
.ombre:nth-child(11) {opacity:0.024; }
.ombre:nth-child(12) {opacity:0.028; }
.ombre:nth-child(13) {opacity:0.032; }
.ombre:nth-child(14) {opacity:0.036; }
.ombre:nth-child(15) {opacity:0.04; }
.ombre:nth-child(16) {opacity:0.044; }
.ombre:nth-child(17) {opacity:0.048; }
.ombre:nth-child(18) {opacity:0.052; }
.ombre:nth-child(19) {opacity:0.056; }
.ombre:nth-child(20) {opacity:0.06; }
.ombre:nth-child(21) {opacity:0.064; }
.ombre:nth-child(22) {opacity:0.068; }
.ombre:nth-child(23) {opacity:0.072; }
.ombre:nth-child(24) {opacity:0.076; }
.ombre:nth-child(25) {opacity:0.08; }
.ombre:nth-child(26) {opacity:0.084; }
.ombre:nth-child(27) {opacity:0.088; }
.ombre:nth-child(28) {opacity:0.092; }
.ombre:nth-child(29) {opacity:0.096; }
.ombre:nth-child(30) {opacity:0.1; }
.ombre:nth-child(31) {opacity:0.104; }
.ombre:nth-child(32) {opacity:0.108; }
.ombre:nth-child(33) {opacity:0.112; }
.ombre:nth-child(34) {opacity:0.116; }
.ombre:nth-child(35) {opacity:0.12; }
.ombre:nth-child(36) {opacity:0.124; }
.ombre:nth-child(37) {opacity:0.128; }
.ombre:nth-child(38) {opacity:0.132; }
.ombre:nth-child(39) {opacity:0.136; }
.ombre:nth-child(40) {opacity:0.14; }
.ombre:nth-child(41) {opacity:0.144; }
.ombre:nth-child(42) {opacity:0.148; }
.ombre:nth-child(43) {opacity:0.152; }
.ombre:nth-child(44) {opacity:0.156; }
.ombre:nth-child(45) {opacity:0.16; }
.ombre:nth-child(46) {opacity:0.164; }
.ombre:nth-child(47) {opacity:0.168; }
.ombre:nth-child(48) {opacity:0.172; }
.ombre:nth-child(49) {opacity:0.176; }
.ombre:nth-child(50) {opacity:0.18; }
.ombre:nth-child(51) {opacity:0.184; }
.ombre:nth-child(52) {opacity:0.188; }
.ombre:nth-child(53) {opacity:0.192; }
.ombre:nth-child(54) {opacity:0.196; }
.ombre:nth-child(55) {opacity:0.2; }
.ombre:nth-child(56) {opacity:0.204; }
.ombre:nth-child(57) {opacity:0.208; }
.ombre:nth-child(58) {opacity:0.212; }
.ombre:nth-child(59) {opacity:0.216; }
.ombre:nth-child(60) {opacity:0.22; }
.ombre:nth-child(61) {opacity:0.224; }
.ombre:nth-child(62) {opacity:0.248; }
.ombre:nth-child(63) {opacity:0.252; }
.ombre:nth-child(64) {opacity:0.256; }
.ombre:nth-child(65) {opacity:0.26; }
.ombre:nth-child(66) {opacity:0.264; }
.ombre:nth-child(67) {opacity:0.268; }
.ombre:nth-child(68) {opacity:0.272; }
.ombre:nth-child(69) {opacity:0.276; }
.ombre:nth-child(70) {opacity:0.28; }
.ombre:nth-child(71) {opacity:0.284; }
.ombre:nth-child(72) {opacity:0.288; }
.ombre:nth-child(73) {opacity:0.292; }
.ombre:nth-child(74) {opacity:0.296; }
.ombre:nth-child(75) {opacity:0.3; }
.ombre:nth-child(76) {opacity:0.304; }
.ombre:nth-child(77) {opacity:0.308; }
.ombre:nth-child(78) {opacity:0.312; }
.ombre:nth-child(79) {opacity:0.316; }
.ombre:nth-child(80) {opacity:0.32; }
.ombre:nth-child(81) {opacity:0.324; }
.ombre:nth-child(82) {opacity:0.328; }
.ombre:nth-child(83) {opacity:0.332; }
.ombre:nth-child(84) {opacity:0.336; }
.ombre:nth-child(85) {opacity:0.34; }
.ombre:nth-child(86) {opacity:0.344; }
.ombre:nth-child(87) {opacity:0.348; }
.ombre:nth-child(88) {opacity:0.352; }
.ombre:nth-child(89) {opacity:0.356; }
.ombre:nth-child(90) {opacity:0.36; }
.ombre:nth-child(91) {opacity:0.364; }
.ombre:nth-child(92) {opacity:0.368; }
.ombre:nth-child(93) {opacity:0.372; }
.ombre:nth-child(94) {opacity:0.376; }
.ombre:nth-child(95) {opacity:0.38; }
.ombre:nth-child(96) {opacity:0.384; }
.ombre:nth-child(97) {opacity:0.388; }
.ombre:nth-child(98) {opacity:0.392; }
.ombre:nth-child(99) {opacity:0.396; }
.ombre:nth-child(100) {opacity:0.4; }
.ombre:nth-child(101) {opacity:0.404; }
.ombre:nth-child(102) {opacity:0.408; }
.ombre:nth-child(103) {opacity:0.412; }
.ombre:nth-child(104) {opacity:0.416; }
.ombre:nth-child(105) {opacity:0.42; }
.ombre:nth-child(106) {opacity:0.424; }
.ombre:nth-child(107) {opacity:0.428; }
.ombre:nth-child(108) {opacity:0.432; }
.ombre:nth-child(109) {opacity:0.436; }
.ombre:nth-child(110) {opacity:0.44; }
.ombre:nth-child(111) {opacity:0.444; }
.ombre:nth-child(112) {opacity:0.448; }
.ombre:nth-child(113) {opacity:0.452; }
.ombre:nth-child(114) {opacity:0.456; }
.ombre:nth-child(115) {opacity:0.46; }
.ombre:nth-child(116) {opacity:0.464; }
.ombre:nth-child(117) {opacity:0.468; }
.ombre:nth-child(118) {opacity:0.472; }
.ombre:nth-child(119) {opacity:0.476; }
.ombre:nth-child(120) {opacity:0.48; }
.ombre:nth-child(121) {opacity:0.484; }
.ombre:nth-child(122) {opacity:0.488; }
.ombre:nth-child(123) {opacity:0.492; }
.ombre:nth-child(124) {opacity:0.496; }
.ombre:nth-child(125) {opacity:0.5; }
.ombre:nth-child(126) {opacity:0.504; }
.ombre:nth-child(127) {opacity:0.508; }
.ombre:nth-child(128) {opacity:0.512; }
.ombre:nth-child(129) {opacity:0.516; }
.ombre:nth-child(130) {opacity:0.52; }
.ombre:nth-child(131) {opacity:0.524; }
.ombre:nth-child(132) {opacity:0.528; }
.ombre:nth-child(133) {opacity:0.532; }
.ombre:nth-child(134) {opacity:0.536; }
.ombre:nth-child(135) {opacity:0.54; }
.ombre:nth-child(136) {opacity:0.544; }
.ombre:nth-child(137) {opacity:0.548; }
.ombre:nth-child(138) {opacity:0.552; }
.ombre:nth-child(139) {opacity:0.556; }
.ombre:nth-child(140) {opacity:0.56; }
.ombre:nth-child(141) {opacity:0.564; }
.ombre:nth-child(142) {opacity:0.568; }
.ombre:nth-child(143) {opacity:0.572; }
.ombre:nth-child(144) {opacity:0.576; }
.ombre:nth-child(145) {opacity:0.58; }
.ombre:nth-child(146) {opacity:0.584; }
.ombre:nth-child(147) {opacity:0.588; }
.ombre:nth-child(148) {opacity:0.592; }
.ombre:nth-child(149) {opacity:0.596; }
.ombre:nth-child(150) {opacity:0.6; }
.ombre:nth-child(151) {opacity:0.604; }
.ombre:nth-child(152) {opacity:0.608; }
.ombre:nth-child(153) {opacity:0.612; }
.ombre:nth-child(154) {opacity:0.616; }
.ombre:nth-child(155) {opacity:0.62; }
.ombre:nth-child(156) {opacity:0.624; }
.ombre:nth-child(157) {opacity:0.628; }
.ombre:nth-child(158) {opacity:0.632; }
.ombre:nth-child(159) {opacity:0.636; }
.ombre:nth-child(160) {opacity:0.64; }
.ombre:nth-child(161) {opacity:0.644; }
.ombre:nth-child(162) {opacity:0.648; }
.ombre:nth-child(163) {opacity:0.652; }
.ombre:nth-child(164) {opacity:0.656; }
.ombre:nth-child(165) {opacity:0.66; }
.ombre:nth-child(166) {opacity:0.664; }
.ombre:nth-child(167) {opacity:0.668; }
.ombre:nth-child(168) {opacity:0.672; }
.ombre:nth-child(169) {opacity:0.676; }
.ombre:nth-child(170) {opacity:0.68; }
.ombre:nth-child(171) {opacity:0.684; }
.ombre:nth-child(172) {opacity:0.688; }
.ombre:nth-child(173) {opacity:0.692; }
.ombre:nth-child(174) {opacity:0.696; }
.ombre:nth-child(175) {opacity:0.7; }
.ombre:nth-child(176) {opacity:0.704; }
.ombre:nth-child(177) {opacity:0.708; }
.ombre:nth-child(178) {opacity:0.712; }
.ombre:nth-child(179) {opacity:0.716; }
.ombre:nth-child(180) {opacity:0.72; }
.ombre:nth-child(181) {opacity:0.724; }
.ombre:nth-child(182) {opacity:0.728; }
.ombre:nth-child(183) {opacity:0.732; }
.ombre:nth-child(184) {opacity:0.736; }
.ombre:nth-child(185) {opacity:0.74; }
.ombre:nth-child(186) {opacity:0.744; }
.ombre:nth-child(187) {opacity:0.748; }
.ombre:nth-child(188) {opacity:0.752; }
.ombre:nth-child(189) {opacity:0.756; }
.ombre:nth-child(190) {opacity:0.76; }
.ombre:nth-child(191) {opacity:0.764; }
.ombre:nth-child(192) {opacity:0.768; }
.ombre:nth-child(193) {opacity:0.772; }
.ombre:nth-child(194) {opacity:0.776; }
.ombre:nth-child(195) {opacity:0.78; }
.ombre:nth-child(196) {opacity:0.784; }
.ombre:nth-child(197) {opacity:0.788; }
.ombre:nth-child(198) {opacity:0.792; }
.ombre:nth-child(199) {opacity:0.796; }
.ombre:nth-child(200) {opacity:0.8; }
.ombre:nth-child(201) {opacity:0.804; }
.ombre:nth-child(202) {opacity:0.808; }
.ombre:nth-child(203) {opacity:0.812; }
.ombre:nth-child(204) {opacity:0.816; }
.ombre:nth-child(205) {opacity:0.82; }
.ombre:nth-child(206) {opacity:0.824; }
.ombre:nth-child(207) {opacity:0.828; }
.ombre:nth-child(208) {opacity:0.832; }
.ombre:nth-child(209) {opacity:0.836; }
.ombre:nth-child(210) {opacity:0.84; }
.ombre:nth-child(211) {opacity:0.844; }
.ombre:nth-child(212) {opacity:0.848; }
.ombre:nth-child(213) {opacity:0.852; }
.ombre:nth-child(214) {opacity:0.856; }
.ombre:nth-child(215) {opacity:0.86; }
.ombre:nth-child(216) {opacity:0.864; }
.ombre:nth-child(217) {opacity:0.868; }
.ombre:nth-child(218) {opacity:0.872; }
.ombre:nth-child(219) {opacity:0.876; }
.ombre:nth-child(220) {opacity:0.88; }
.ombre:nth-child(221) {opacity:0.884; }
.ombre:nth-child(222) {opacity:0.888; }
.ombre:nth-child(223) {opacity:0.892; }
.ombre:nth-child(224) {opacity:0.896; }
.ombre:nth-child(225) {opacity:0.9; }
.ombre:nth-child(226) {opacity:0.904; }
.ombre:nth-child(227) {opacity:0.908; }
.ombre:nth-child(228) {opacity:0.912; }
.ombre:nth-child(229) {opacity:0.916; }
.ombre:nth-child(230) {opacity:0.92; }
.ombre:nth-child(231) {opacity:0.924; }
.ombre:nth-child(232) {opacity:0.928; }
.ombre:nth-child(233) {opacity:0.932; }
.ombre:nth-child(234) {opacity:0.936; }
.ombre:nth-child(235) {opacity:0.94; }
.ombre:nth-child(236) {opacity:0.944; }
.ombre:nth-child(237) {opacity:0.948; }
.ombre:nth-child(238) {opacity:0.952; }
.ombre:nth-child(239) {opacity:0.956; }
.ombre:nth-child(240) {opacity:0.96; }
.ombre:nth-child(241) {opacity:0.964; }
.ombre:nth-child(242) {opacity:0.968; }
.ombre:nth-child(243) {opacity:0.972; }
.ombre:nth-child(244) {opacity:0.976; }
.ombre:nth-child(245) {opacity:0.98; }
}